<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.mySlides {display:none;}
</style>
<body>
<div class="container-fluid">
<div class="navbar-header">
<h3 style="color: #2492ff
">Blog</h3></div>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Home" , homes_index_path,style: "color: #ea4e74" %></li> 
<li style="margin-top: 12%;">&gt</li>
<li class="active"><%= link_to "Blog" ,    homes_blog_path,style: "color: #2492ff" %></li></ul>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-8">
<h2 style="text-align: left;margin-top: 5%;">
<span style="color: #ff48ff;">
 <i>Awesome Wedding Destinations in INDIA</i></span></h2><br />
<%=link_to (image_tag "https://media.publika.md/en/image/201610/full/indian-wedding-_84713100.jpg", width: 825, height: 400, class: "some css class here"),  new_comment_path, data: { turbolinks: false } %><br /><br />
<div style="border-top:1px solid #0088cc;  color: #ff48ff;margin-top: 2%;width: 750;">
</div>
</div>
<div class="col-md-4">
<!-- 1. classic wedding image part start -->
 <h3 style="color: #c29e00; margin-top: 10%;margin-left: 10%;">Explore our Blog</h3><br />
 <form novalidate="novalidate" class="col-sm-12" id="searchForm">
 <div class="form-group " style="width: 60%;margin-left: 6%;">
 <div class="row">
 <div class="col-md-10 col-xs-10" style="padding-right:0px"><div class="input-group input-group-lg center-block">
 <select aria-invalid="false" name="category" style="border-top-left-radius: 2em; border-bottom-left-radius: 2em;" class="form-control valid">
 <option><li><%= link_to "Awesome Wedding Destinations in INDIA",  homes_wedding_path, :mehtod=> 'get' %>
    </li>
 </option>
 </select>
 </div>
 </div>
 <div class="col-md-2 col-xs-2" style="padding-left:0px">
 <div align="center">
 <button type="submit" class="btn btn-lg blue" style="border-top-right-radius: 2em; border-bottom-right-radius: 2em;transform:none;color:#FFFFFF;border: 1px solid #3aa9a2;background: #3aa9a2"><span class="fa fa-search"></span>Search</button></div></div>
 </div>
 </div>
</form>
<style>
body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 5px;
    background: #48D1CC;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #48D1CC;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
</style>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-8">
<p class="lead" style="font-size:20px;color: black;"><p>Congratulations on finding your life partner! It must feel awesome. So now what? What comes next? Wedding planning……right! You are surely thinking of some grand wedding […]
</p><br/ >
<%= link_to '<button type="button" class="block" style="font-family: Verdana,sans-serif;margin-left: 35%;">Read More...</button>'.html_safe,   new_comment_path,style: "color: white", data: { turbolinks: false } %> 
 <!-- ending block button for classic wedding -->
<style>
.block {
    text-align: center;
    display: block;
    width: 30%;
    border: none;
    background-color: #48D1CC;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: white
}
</style>
<br />
<br />
<footer>
<span class="glyphicon glyphicon-calendar"></span>&nbsp;
<time id="" class="published" datetime="2018-01-11"><%= link_to "January 11, 2018",  new_comment_path,data: { turbolinks: false } %></time>&nbsp;
<span>/</span>
<i class="fa fa-comment-o">&nbsp;<%= link_to "Leave a Comment", new_comment_path,data: { turbolinks: false } %></i>
</footer>
</div>
</div>
</div>
<div class="col-md-12" style="margin-top: 5%;">
<div style="border-top:1px solid #0088cc;  color: #ff48ff;margin-top: 2%;">
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<!-- Inspired by: https://codepen.io/donovanh/pen/dYqxNb -->
<div class="rating">
  <input type="checkbox" autocomplete="off" id="smile" name="smiley" />
  <label class="smiley" for="smile" title="Smile" aria-hidden="true"></label><br /><br />
</div>
</div>
</div>
</div>
<!--*********** !-->
<div class="footer-social-icons">
 <h2 class="_14" style="text-align: center;color: #c29e00;margin-top: 10%;">FOLLOW US</h2>
    <ul class="social-icons" style="text-align: center;margin-top: 10%;">
        <li><a href="https://www.facebook.com/roshnitents05/?modal=admin_todo_tour" class="social-icon" title="Facebook" style="text-decoration: none;color: white;"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/roshni_tents" class="social-icon" title="Twitter"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/roshnitents_/" class="social-icon" title="Instagram"> <i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC_eoEIZ7hwbyRa1lpstiLrQ" class="social-icon" title="Youtube"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.linkedin.com/company/roshni-tents/" class="social-icon" title="Linkedin"> <i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>
</div>
<div class="col-md-12">
<div style="border-top:3px solid #0088cc;color: #ff48ff;margin-top: 2%;">
</div>
</div>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
 }
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2492ff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
</style>
</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">&#9650;</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

</body>
<br />
</html>

