<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
<style>
.mySlides {display:none;}
</style>
<body>
<div class="container-fluid">
<div class="navbar-header">
<h3 style="color: #2492ff">Corporate Events</h3></div>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Home" , homes_index_path,style: "color: #ea4e74",data: { turbolinks: false } %></li> 
<li style="margin-top: 8%;">&gt</li>
<li class="active"><%= link_to "Corporate Events" ,  homes_corporate_events_path,style: "color: #2492ff" %></li></ul>
</div>
<div class="w3-content w3-section" style="max-width:800px; display: block;">

 <img class="mySlides" src="http://nebula.wsimg.com/5e6736eecb8d0d67417deb0c52c62900?AccessKeyId=5831BBB956A208A2D802&disposition=0&alloworigin=1" style="width:100%; height: 5%;vertical-align: middle;height: 500px;float: left;position: relative;display: list-item;">

 <%= image_tag "IMG-20191223-WA0002.jpg", height: 500, class: "mySlides",:style=>"width: 100%; vertical-align: middle; height: 500px; float: left; position: relative; display: list-item;" %> 

<img class="mySlides" src="http://i1.wp.com/www.michellelao.com/wp-content/uploads/2015/01/Chelsea-First-Birthday-25.jpg?resize=700%2C466" style="width:100%;height: 5%;height: 500px;float: left;position: relative;display: list-item;">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<br />

</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<h2 style="text-align: left;margin-top: 14%;">
<span style="color: #ff48ff;">
<i>Corporate Events with Roshni Tents</i></span></h2><br />
<p class="lead" style="font-size:20px;"><p>A major purpose of corporate events is to bring people together to cultivate social cohesion whilst giving them space to for personal experiences. A strong theme really helps in providing a center of gravity for the event. Whether celebrating a milestone or reinforcing your company’s objectives to foster further success, a strong theme makes all the difference.
</p><br />
<h3 style="color: #c29e00;  text-align: left";>Create Engaging Environments</h3>
<p class="lead" style="font-size:20px;"><p>One important aim, particularly for conferences and networking events, is to create an environment that engages your attendees emotionally and intellectually. Not only the content of the event, but the setting itself must be relevant and unique so that it inspires, stimulates and opens people up. More and more meetings and conferences are creating separate, smaller environments within the meeting space for the exchange of ideas – whether formal breakout sessions, or places to have conversations. Our tenting and décor is a powerful tool to pull your corporate event together. Check out our Themes and Destination Events pages for more ideas.
</p><br />
</div><br/ ><br />
<div class="col-md-6">
  <%= image_tag "Corporate-Event-Decor.jpg", height: 350, width: 530,:style=>"margin-top: 24%; padding: 5%" %> 
  </a><br /><br /><br />
</div>
</div>
</div>
 <div class="col-md-12">
  <div style="border-top:1px solid #0088cc;  color: #ff48ff;">
  </div><br />
  </div>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 style="text-align: center;margin-top: 3%;font-family: 'Great Vibes';font-size: 42px;">
<span style="color: #ff48ff;">
<i>Explore Corporate Events with Roshni Tents</i></span></h2><br /><br /><br />
</div>
</div>
</div>

<!-- bottom images slider in html page start !-->
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div id="slidy-container">
  <figure id="slidy">
    <%= image_tag "1_a8d4Rtca68CsUjSifCjJgA.jpeg" %>
    <%= image_tag "wedding-and-events-decoration-services-997.jpg" %>
    <%= image_tag "http://www.biarritz-paysbasque-convention-bureau.com/files/pphototheque/public/r63_15_photos__018.jpg" %>
    <%= image_tag "https://i.pinimg.com/736x/8f/19/fb/8f19fb68ac201b41398338205c7b01f2--gazebos-raj.jpg" %>
    <%= image_tag "IMG-20180106-WA0005.jpg" %>
    <%= image_tag "img-20151014-wa0011-500x500 - Copy - Copy - Copy - Copy - Copy - Copy - Copy.jpg" %>
    <%= image_tag "http://nebula.wsimg.com/5e6736eecb8d0d67417deb0c52c62900?AccessKeyId=5831BBB956A208A2D802&disposition=0&alloworigin=1" %>
    <%= image_tag "fbaec3b9f8b52c691993e5b97a08bf40.jpg" %>
    <%= image_tag "http://i1.wp.com/www.michellelao.com/wp-content/uploads/2015/01/Chelsea-First-Birthday-25.jpg?resize=700%2C466" %>
    <%= image_tag "engagement-event-management-500x500.png" %>
    <%= image_tag "https://d397bfy4gvgcdm.cloudfront.net/83512-0X2B1903.jpeg" %>
    <%= image_tag "Corporate-Event-Decor.jpg" %>
  </figure>
</div>
<style>
body 
#slidy-container { 
  width: 70%; overflow: hidden; margin: 0 auto;
}
</style>
<script>
var timeOnSlide = 3,        
    // the time each image will remain static on the screen, measured in seconds
timeBetweenSlides = 1,  
    // the time taken to transition between images, measured in seconds

// test if the browser supports animation, and if it needs a vendor prefix to do so
    animationstring = 'animation',
    animation = false,
    keyframeprefix = '',
    domPrefixes = 'Webkit Moz O Khtml'.split(' '), 
    // array of possible vendor prefixes
    pfx  = '',
    slidy = document.getElementById("slidy"); 
if (slidy.style.animationName !== undefined) { animation = true; } 
// browser supports keyframe animation w/o prefixes

if( animation === false ) {
  for( var i = 0; i < domPrefixes.length; i++ ) {
    if( slidy.style[ domPrefixes[i] + 'AnimationName' ] !== undefined ) {
      pfx = domPrefixes[ i ];
      animationstring = pfx + 'Animation';
      keyframeprefix = '-' + pfx.toLowerCase() + '-';
      animation = true;
      break;
    }
  }
}

if( animation === false ) {
  // animate in JavaScript fallback
} else {
  var images = slidy.getElementsByTagName("img"),
      firstImg = images[0], 
      // get the first image inside the "slidy" element.
      imgWrap = firstImg.cloneNode(false);  // copy it.
  slidy.appendChild(imgWrap); // add the clone to the end of the images
  var imgCount = images.length, // count the number of images in the slide, including the new cloned element
      totalTime = (timeOnSlide + timeBetweenSlides) * (imgCount - 1), // calculate the total length of the animation by multiplying the number of _actual_ images by the amount of time for both static display of each image and motion between them
      slideRatio = (timeOnSlide / totalTime)*100, // determine the percentage of time an induvidual image is held static during the animation
      moveRatio = (timeBetweenSlides / totalTime)*100, // determine the percentage of time for an individual movement
      basePercentage = 100/imgCount, // work out how wide each image should be in the slidy, as a percentage.
      position = 0, // set the initial position of the slidy element
      css = document.createElement("style"); // start marking a new style sheet
  css.type = "text/css";
  css.innerHTML += "#slidy { text-align: left; margin: 0; font-size: 0; position: relative; width: " + (imgCount * 100) + "%;  }\n"; // set the width for the slidy container
  css.innerHTML += "#slidy img { float: left; width: " + basePercentage + "%; }\n";
  css.innerHTML += "@"+keyframeprefix+"keyframes slidy {\n"; 
  for (i=0;i<(imgCount-1); i++) { // 
    position+= slideRatio; // make the keyframe the position of the image
    css.innerHTML += position+"% { left: -"+(i * 100)+"%; }\n";
    position += moveRatio; // make the postion for the _next_ slide
    css.innerHTML += position+"% { left: -"+((i+1) * 100)+"%; }\n";
}
  css.innerHTML += "}\n";
  css.innerHTML += "#slidy { left: 0%; "+keyframeprefix+"transform: translate3d(0,0,0); "+keyframeprefix+"animation: "+totalTime+"s slidy infinite; }\n"; // call on the completed keyframe animation sequence
document.body.appendChild(css); // add the new stylesheet to the end of the document
}
</script>
</div>
</div>
</div><br /><br />
<div class="col-md-12">
<div style="border-top:1px solid #0088cc;  color: #ff48ff;">
</div><br /><br />


</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<!-- Inspired by: https://codepen.io/donovanh/pen/dYqxNb -->
<div class="rating">
  <input type="checkbox" autocomplete="off" id="smile" name="smiley" />
  <label class="smiley" for="smile" title="Smile" aria-hidden="true"></label>
</div>
</div>
</div>
</div>

<!--*********** !-->
<div class="footer-social-icons">
    <h2 class="_14" style="text-align: center;color: #c29e00;margin-top: 12%;">FOLLOW US</h2>
    <ul class="social-icons" style="text-align: center;margin-top: 10%;">
        <li><a href="https://www.facebook.com/roshnitents05/?modal=admin_todo_tour" class="social-icon" title="Facebook" style="text-decoration: none;
    color: white;"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/roshni_tents" class="social-icon" title="Twitter"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/roshnitents_/" class="social-icon" title="Instagram"> <i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC_eoEIZ7hwbyRa1lpstiLrQ" class="social-icon" title="Youtube"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.linkedin.com/company/roshni-tents/" class="social-icon" title="Linkedin"> <i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>

<div class="col-md-12">
<div style="border-top:3px solid #0088cc;  color: #ff48ff;margin-top: 2%;">
</div>
</div>


<style>
body {
  font-family: Arial, Helvetica, sans-serif;
 
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2492ff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
</style>
</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">&#9650;</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

</body>
</html>



